.footer
    margin 0 50px 50px

    &__copyright
        margin 0
        text-align center

@media (min-width: 768px)
    .footer
        margin-bottom 45px

@media (min-width: 1200px)
    .footer
        margin-bottom 40px
